[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = {git = "https://github.com/gorakhargosh/watchdog.git"}

[packages]
flask = "*"
pytest = "*"
coverage = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
graphene = "*"
flask-graphql = "*"
numpy = "*"
celery = "*"
redis = "*"
gevent = "*"
bootstrap-flask = "*"
petname = "*"
flask-wtf = "*"
flask-cors = "*"
flask-restplus = "*"

[requires]
python_version = "3.7"
