{% from 'macros.html' import render_nav_item -%}
<!doctype html>
<html lang="en">
<head>
  {% block head -%}
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles -%}
      {{ bootstrap.load_css() }}
    {%- endblock %}
    <title>{% block title %}{% endblock %} - maglearn-back</title>
  {%- endblock %}
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">maglearn</a>
    <ul class="navbar-nav mr-auto">
      {{ render_nav_item('datasets.list', 'Datasets') }}
      {% if g.user -%}
        {{ render_nav_item('auth.logout', 'Log Out') }}
      {%- else -%}
        {{ render_nav_item('auth.login', 'Log In') }}
        {{ render_nav_item('auth.register', 'Register') }}
      {%- endif %}
    </ul>
    {% if g.user -%}
      <span class="navbar-text">{{ g.user['username'] }}</span>
    {%- endif %}
  </nav>
</div>
<div class="container">
  <main class="col-12 col-md-12">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for category, message in get_flashed_messages(with_categories=true) -%}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {% block content %}{% endblock %}
  </main>
</div>
{% block scripts -%}
  {{ bootstrap.load_js() }}
{%- endblock %}
</body>
</html>